* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 50px;
    // background: aqua;
}

header {
    .container {
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav_hous {
                display: flex;
                align-items: center;
                gap: 15px;
                color: #58A9A5;

                p {
                    font-family: "Poppins", sans-serif;
                    line-height: 100%;
                    letter-spacing: 0%;

                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 50px;

                li {

                    a {
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #404242;
                        transition: all 1s ease-in-out;
                    }

                    a:hover {
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #58A9A5;
                        border-bottom: 3px solid #FEC62D;
                    }
                }
            }

            button {
                width: 170px;
                height: 50px;
                background: #58A9A5;
                border: none;
                border-radius: 15px;
                color: #FFFFFF;
                line-height: 100%;
                letter-spacing: 0%;
                transition: all 1s ease-in-out;
            }

            button:hover {
                transform: scale(1.1);
                background: none;
                border: 3px solid #58A9A5;
                color: black;
            }
        }
    }
}

main {

    .section1 {
        .container {
            .section_cards {
                display: flex;
                align-items: center;
                gap: 30px;

                .card_text {
                    width: 52%;

                    h1 {
                        font-size: 70px;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }

                    p {
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #404242;
                        padding-top: 50px;
                    }

                    button {
                        width: 170px;
                        height: 50px;
                        background: #58A9A5;
                        border: none;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        color: #FFFFFF;
                        line-height: 100%;
                        letter-spacing: 0%;
                        margin-top: 50px;
                        transition: all 1s ease-in-out;
                    }

                    button:hover {
                        transform: scale(1.1);
                        background: none;
                        border: 3px solid #58A9A5;
                        color: black;
                    }
                }

                .card_rasm {
                    // width: 50%;
                    border-radius: 120px;
                    background: #CCF0E6;
                }
            }
        }
    }

    .section2 {
        margin-top: 120px;

        .container {

            .section_title {
                text-align: center;

                h1 {
                    font-size: 60px;
                    font-weight: 800;
                }

                p {
                    font-size: 24px;
                    color: #404242;
                    margin-top: 10px;
                }
            }

            .section_cards {
                margin-top: 50px;
                display: flex;
                align-items: center;
                // gap: 20px;
                position: relative;

                .ras {
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                    border-radius: 10px;
                }

                .dumalo {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    background: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 57%;
                    top: 65%;
                    transform: translate(-50%, -50%);
                    animation: play 2s infinite;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                }

                .card_text {
                    // width: 20%;
                    height: 350px;
                    background: #CCF0E6;
                    padding: 40px 20px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;

                    p {
                        font-size: 18px;
                        color: #486958;
                    }

                    a {
                        display: block;
                        margin-top: 20px;
                        font-weight: 700;
                        color: #486958;
                    }
                }
            }
        }
    }

    @keyframes play {

        0% {
            transform: translate(-50%, -50%) scale(1);
        }

        50% {
            transform: translate(-50%, -50%) scale(1.2);
        }

        100% {
            transform: translate(-50%, -50%) scale(1);
        }

    }

    .section3 {
        .container {
            .section_cards {
                display: flex;
                gap: 30px;

                .card_text {
                    // width: 60%;

                    h1 {
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }

                    p {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        padding-top: 50px;
                        color: #486958;
                    }
                }
            }
        }
    }

    .section4 {
        .container {
            h1 {
                font-weight: 800;
                font-size: 70px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
            }

            .intr {
                font-weight: 400;
                font-size: 30px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: #404242;
                padding-top: 20px;
            }

            .section_cards {
                margin-top: 50px;
                display: flex;
                align-items: center;
                gap: 30px;
                // flex-wrap: wrap;

                .card {
                    width: 48%;

                    img {
                        width: 90%;
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #58A9A5;
                        padding-bottom: 5px;
                    }

                    p {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #486958;
                        padding-bottom: 35px;
                    }
                }
            }
        }
    }

    .section5 {
        margin-top: 120px;

        .container {
            h1 {
                font-weight: 800;
                font-size: 70px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
            }

            .section_cards {
                display: flex;
                align-items: center;
                gap: 60px;
                margin-top: 20px;
                flex-wrap: wrap;
            }
        }
    }

    .section6 {
        .container {
            .section_cards {
                display: flex;
                align-items: center;

                .card_text {
                    background: #CCF0E6;
                    height: 700px;
                    padding-top: 60px;
                    padding-left: 30px;

                    .text_titl {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                        margin-bottom: 50px;

                        .porject {
                            width: 20%;

                            h1 {
                                font-weight: 800;
                                font-size: 70px;
                                line-height: 100%;
                                letter-spacing: 0%;
                                color: #58A9A5;
                            }

                            p {
                                font-weight: 600;
                                font-size: 30px;
                                line-height: 100%;
                                letter-spacing: 0%;
                                color: #58A9A5;
                                padding-top: 10px;
                            }
                        }
                    }

                    p {
                        font-weight: 500;
                        font-size: 25px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        color: #486958;
                    }
                }
            }
        }
    }

    .section7 {
        margin-bottom: 50px;
        .container {
            .setion_cards {
                display: flex;
                gap: 50px;
                flex-wrap: wrap;

                .card_left {
                    width: 30%;

                    h1 {
                        font-weight: 800;
                        font-size: 50px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        padding-bottom: 10px;
                    }

                    p {
                        font-weight: 500;
                        font-size: 25px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #486958;
                    }
                }

                .card_form {
                    width: 60%;
                    border: 1px solid #486958;
                    background: #FFFFFF;
                    text-align: end;

                    form {
                        text-align: center;

                        input {
                            width: 100%;
                            height: 60px;
                            border: none;
                            padding-left: 55px;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            color: #486958;
                        }

                        .input2 {
                            width: 92%;
                            height: 60px;
                            padding-left: 25px;
                            border-top: 1px solid #486958;
                            border-bottom: 1px solid #486958;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            color: #486958;
                        }
                    }

                    button {
                        width: 170px;
                        height: 50px;
                        background: #58A9A5;
                        border: none;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        color: #FFFFFF;
                        line-height: 100%;
                        letter-spacing: 0%;
                        transition: all 1s ease-in-out;
                        margin-bottom: 35px;
                    }
                    button:hover {
                        transform: scale(1.2);
                        background: none;
                        border: 3px solid #58A9A5;
                        color: black;
                    }
                }
            }
        }
    }
}

@media(max-width:900px) {
    header {
        .container {
            ul {
                li {
                    display: none;
                }
            }
        }
    }

    .section1 {
        .section_cards {
            flex-direction: column;
            text-align: center;
        }
    }

    .section2 {
        .section_cards {
            flex-direction: column;
            text-align: center;

            .video_box {
                .ras {
                    width: 100%;
                }

                .dumalo {
                    display: none;
                }
            }

            .card_text {
                width: 100%;
                height: auto;
            }
        }
    }

    .section3 {
        .section_cards {
            flex-direction: column;
        }

        .section3 img {
            // width: 100%;
        }

        .section3 .card_text {
            width: 100%;
            text-align: center;
        }
    }

    .section4 {
        .container {
            .section_cards {
                flex-wrap: wrap;
            }
        }
    }

    .section5{
        .container{
            .section_cards{
                flex-direction: column;
            }
        }
    }

    .section6 {
        .container {
            .section_cards {
                flex-wrap: wrap;

                img {
                    width: 100%;
                }
            }
        }
    }

    .section7{
        .container{
            .setion_cards{
                flex-wrap: wrap;
            }
        }
    }
}

@media(max-width:1195px){
    .section6{
        .container{
            .section_cards{
                flex-wrap: wrap;
               img{
                width: 100%;
               } 
            }
        }
    }

    .section7{
        .container{
            .setion_cards{
                .card_form{
                    button{
                      margin-left: 0;

                    }
                }
            }
        }
    }

    .section2 {
        .section_cards {
            flex-direction: column;
            text-align: center;

            .video_box {
                .ras {
                    width: 100%;
                }

                .dumalo {
                    display: none;
                }
            }

            .card_text {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media(max-width:650px){
    .section4{
        .container{
            h1{
                width: 100%;
            }
            p{
                width: 100%;
            }
            .section_cards{
                flex-direction: column;
            }
        }
    }

    .section6{
        .container{
           .setion_cards{
            .card_text{
                width: 50px;

                .text_titl{
                    display: flex;
                    gap: 80px;
                }
            }
           } 
        }
    }

    .section7{
        .container{
            .setion_cards{
                flex-wrap: wrap;
            }
        }
    }
}

@media(max-width:540px){
    .section1{
        .container{
            .section_cards{
                .card_rasm{
                    width: 100%;
                }
            }
        }
    }

    .section5{
        .container{
            .section_cards{
                flex-direction: column;
            }
        }
    }

    .section6{
        .container{
           .card_text{
            .text_titl{
                display: flex;
                gap: 40px;
            }
           } 
        }
    }

    .section7{
        .container{
            margin: 0 auto;
           .setion_cards{
            flex-direction: column;
           } 
        }
    }
}